.btn{
    box-sizing: border-box;
    background: #E0C5AC;
    border:none;
    border-radius: 10px;
    line-height: 16px;
    text-align: center;
    width: 186px;
    height: 47px;
    text-align: center;
}