<div class="background" style="background-color: #F5F5F5;">
    <!-- <div class="container mt-5"> -->
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px">
                <div class="card-body p-4 p-md-5">
                    <h3 class="mb-42 pb-2 pb-md-0 mb-md-5">Take a survey</h3>
                    <form >
                        <h4>Personal Details:</h4>
                        <div class="form-group col mb-4">
                            <label>Surname </label>
                            <input type="text" id="q"  formControlName="surname"
                                placeholder="Surname" class="form-control"
                                 />
                            <div  class="invalid-feedback">
                                <div >
                                    Surname is required
                                </div>
                            </div>
                            <div class="form-group col mb-4">
                                <label>First Names:</label>
                                <input type="text"  formControlName="First Names"
                                    placeholder="First Names " class="form-control"  />
                                <div  class="invalid-feedback">
                                    <div >
                                        First Names is required
                                    </div>
                                </div>
                                <div class="form-group col mb-4">
                                    <label>Contact Number:</label>
                                    <input type="text"  formControlName="Contact Number"
                                        placeholder="Contact Number " class="form-control"  />
                                    <div class="invalid-feedback">
                                        <div >
                                            Contact Number is required
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col mb-4">
                                    <label>Date:</label>
                                    <input type="text"  formControlName="Contact Number"
                                        placeholder="Date "  class="form-control"  />
                                        <span id="currentDate"></span>
                                    
                                </div>
                                <hr />

                            
                                <!-- buttons -->
                                <div class="form-group">
                                    <button type="submit"  class="btn ">
                                        Submit
                                    </button>
                                </div>
                            </div>